/* CSS RESET */
 
* { font-family:Arial, Helvetica, sans-seri; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

caption {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
}

:focus {/* remember to define focus styles! */
	outline: 0;
}

body {
	background: #fff;
	line-height: 1;
}

ul {
	list-style: none;
}
/*
table {/* tables still need 'cellspacing="0"' in the markup 
	border-collapse: separate;
	border-spacing: 0;
}*/

caption {
	font-weight: normal;
	text-align: left;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

a img {
	border: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/**
 *
 * PASSES @ FELIPE RICIERI
 * 2011 - 2013 - All Rights Reserved
 *
 * @author	Felipe Ricieri
 * @version	2.0
 * @date	11/set/2013
 *
 ***********************************/